@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
  padding:0;
  background-color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

