@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
  padding:0;
  background-color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-menu{
  background-color: #692323;
  width: 40px;
  height: 6px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.btn-menu::after{
  content: '';
  position: absolute;
  background-color: #692323;
  width: 40px;
  height: 6px;
  border-radius: 5px;
  transform: translateY(10px);
  transition: all 0.5s ease;
}

.btn-menu::before{
  content: '';
  position: absolute;
  background-color: #692323;
  width: 40px;
  height: 6px;
  border-radius: 5px;
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

.btn-menu.open{
  background-color: transparent;
}

.btn-menu.open::after {
  transform: translateY(0px) rotate(45deg);
}

.btn-menu.open::before{
  transform: translateY(0px) rotate(-45deg);
}


